{% extends "base.html.jinja" %}
{% block content %}
<h1>Spirit score computations</h1>
{% if rankings is not none %}
{{ rankings.to_html(classes=['table']) }}
{% elif url is not none %}
<form method="GET" action="{{url_for('index')}}">
  <input type="hidden" name="url" value="{{url}}" placeholder="Google Sheets URL"/>

  <div class="input-group">
    <label>Self Team Column</label>
    <select name="team">
      {% for column in all_columns %}
      <option value="{{loop.index0}}" {% if columns.team|int == loop.index0 %}selected{% endif %}>{{column}}</option>
      {% endfor %}
    </select>
  </div>

  <label>Self Scores Column Names</label>
  {% for column in all_columns %}
  <div class="input-group">
    <input type="checkbox" name="team-score-columns" value="{{loop.index0}}"/>
    <label>{{column}}</label>
  </div>
  {% endfor %}

  <div class="input-group">
    <label>Opponent Team Column</label>
    <select name="opponent">
      {% for column in all_columns %}
      <option value="{{loop.index0}}" {% if columns.opponent|int == loop.index0 %}selected{% endif %}>{{column}}</option>
      {% endfor %}
    </select>
  </div>

  <label>Opponent Scores Column Names</label>
  {% for column in all_columns %}
  <div class="input-group">
    <input type="checkbox" name="opponent-score-columns" value="{{loop.index0}}"/>
    <label>{{column}}</label>
  </div>
  {% endfor %}

  <input type="submit" value="Get Scores" class="btn btn-primary"/>
</form>
{% else %}
<form method="GET" action="{{url_for('index')}}">
  <input type="text" name="url" placeholder="Google Sheets URL" />
  <input type="submit" value="Get Scores" class="btn btn-primary"/>
</form>
{% endif %}
{% endblock %}
