{% extends "base.html.jinja" %}
{% block content %}

<a class="d-print-none" href="{{url_for('index')}}"><h1>SOTG Calculator</h1></a>

{% if url is not none and not prompt_column_select %}

<nav class="d-print-none">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-rankings-tab" data-toggle="tab" href="#nav-rankings" role="tab" aria-controls="nav-rankings" aria-selected="true">Rankings</a>
    <a class="nav-item nav-link" id="nav-scores-received-tab" data-toggle="tab" href="#nav-scores-received" role="tab" aria-controls="nav-scores-received" aria-selected="false">Spirit Scores (Received)</a>
    <a class="nav-item nav-link" id="nav-scores-awarded-tab" data-toggle="tab" href="#nav-scores-awarded" role="tab" aria-controls="nav-scores-awarded" aria-selected="false">Spirit Scores (Awarded)</a>
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">

  <div class="tab-pane fade show active" id="nav-rankings" role="tabpanel" aria-labelledby="nav-rankings-tab">
    <div class="table-responsive">
      {{ rankings.render() }}
    </div>
  </div>

  <div class="tab-pane fade" id="nav-scores-received" role="tabpanel" aria-labelledby="nav-scores-received-tab">
    {% for team, scores in received_scores %}
    <div class="card border mb-5">
      <div class="card-header text-center">
        <strong>{{team}}</strong>
      </div>
      <div class="card-body table-responsive">
        {{ scores.to_html(index=False, classes=['table', 'table-striped'], border=0, float_format='%d', justify='left') }}
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="tab-pane fade" id="nav-scores-awarded" role="tabpanel" aria-labelledby="nav-scores-awarded-tab">
    {% for team, scores in awarded_scores %}
    <div class="card border mb-5">
      <div class="card-header text-center">
        <strong>{{team}}</strong>
      </div>
      <div class="card-body table-responsive">
        {{ scores.to_html(index=False, classes=['table', 'table-striped'], border=0, float_format='%d', justify='left') }}
      </div>
    </div>
    {% endfor %}
  </div>

</div>

{% elif prompt_column_select %}

<!-- Form to choose the columns to use for scoring -->
<form method="GET" action="{{url_for('index')}}">
  <input type="hidden" name="url" value="{{url}}" placeholder="Google Sheets URL here..."/>


  <div class="form-group">
    <label for"opponent-name-column">Opponent Team Column</label>
    <small class="form-text">Select column with the name of the opponent team</small>
    <select name="opponent" class="custom-select" id="opponent-name-column">
      {% for column in all_columns %}
      <option value="{{loop.index0}}"
              {% if columns.opponent|int == loop.index0 %}selected{% endif %}>
        {{column}}
      </option>
      {% endfor %}
    </select>
  </div>

  <div class="form-group">
  <label>Opponent Scores Column Names</label>
  <small class="form-text">Select columns with the opponent spirit scores</small>
  {% for column in all_columns %}
  <div class="custom-control custom-checkbox">
    <input type="checkbox"
           class="custom-control-input"
           name="opponent-score-columns"
           id="opponent-score-column-{{loop.index0}}"
           value="{{loop.index0}}"/>
    <label class="custom-control-label" for="opponent-score-column-{{loop.index0}}">{{column}}</label>
  </div>
  {% endfor %}
  </div>

  <div class="form-group">
    <label for="self-team-column">Self Team Column</label>
    <small class="form-text">Select column with the name of the team doing scoring (self)</small>
    <select class="custom-select" name="team" id="team-name-column">
      {% for column in all_columns %}
      <option value="{{loop.index0}}"
              {% if columns.team|int == loop.index0 %}selected{% endif %}>
        {{column}}
      </option>
      {% endfor %}
    </select>
  </div>

  <div class="form-group">
    <label>Self Scores Column Names</label>
    <small class="form-text">Select columns with the self spirit scores</small>
    {% for column in all_columns %}
    <div class="custom-control custom-checkbox">
      <input type="checkbox"
             class="custom-control-input"
             name="team-score-columns"
             id="team-score-column-{{loop.index0}}"
             value="{{loop.index0}}"/>
      <label class="custom-control-label" for="team-score-column-{{loop.index0}}">{{column}}</label>
    </div>
    {% endfor %}
  </div>

  <div class="form-group">
    <label for"day-column">Day Column</label>
    <small class="form-text">Select column with the day information</small>
    <select name="day" class="custom-select" id="day-column">
      {% for column in all_columns %}
      <option value="{{loop.index0}}"
              {% if columns.day|int == loop.index0 %}selected{% endif %}>
        {{column}}
      </option>
      {% endfor %}
    </select>
  </div>

  <input type="submit" value="Calculate Ranks" class="col btn btn-primary"/>
</form>

{% else %}

<!-- Display the form to get the Spreadsheet URL -->
{{usage|safe}}
<form method="GET" class="row" action="{{url_for('index')}}">
  <input type="text" class="col-md-9 form-control-lg" name="url" placeholder="Google Sheets URL here..." />
  <input type="submit" value="Calculate Ranks" class="col-md-3 btn btn-primary"/>
</form>

{% endif %}

{% endblock %}
