<h2>{{name}}</h2>
<nav class="d-print-none">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link {% if show_rankings %}active{% endif %}" id="nav-rankings-tab" data-toggle="tab" href="#nav-rankings" role="tab" aria-controls="nav-rankings" aria-selected="true">Rankings</a>
        <a class="nav-item nav-link {% if not show_rankings %}active{% endif %}" id="nav-scores-received-tab" data-toggle="tab" href="#nav-scores-received" role="tab" aria-controls="nav-scores-received" aria-selected="false">Spirit Scores (Received)</a>
        <a class="nav-item nav-link" id="nav-scores-awarded-tab" data-toggle="tab" href="#nav-scores-awarded" role="tab" aria-controls="nav-scores-awarded" aria-selected="false">Spirit Scores (Awarded)</a>
    </div>
</nav>

<div class="tab-content" id="nav-tabContent">

    <div class="tab-pane fade {% if show_rankings %}show active{% endif %}" id="nav-rankings" role="tabpanel" aria-labelledby="nav-rankings-tab">
      {% if show_rankings %}
        <div class="table-responsive">
            {{ rankings.render() }}
        </div>
      {% else %}
        <p>
        The final rankings are not shown until the end of the tournament.
        </p>

        <p>
          <small class="form-text text-muted">
            If you are the Spirit Director of the tournament, add the text
            "(show-rankings)" at the end of the name/title of Google
            Spreadsheet, if the tournament has come to an end.

            The rankings are hidden until the end of the tournament to keep
            some suspense about the winners of the tournament, for the
            participants. But, the link to the spirit scores can be shared with
            the teams during the event to let teams see their scores, and
            adjust their behavior based on the feedback.
          </small>
        </p>
      {% endif %}
    </div>

    <div class="tab-pane fade {% if not show_rankings %}show active{% endif %}" id="nav-scores-received" role="tabpanel" aria-labelledby="nav-scores-received-tab">
        {% for team, (scores, missing_our, missing_other) in received_scores %}
            <div class="card border mb-5">
                <div class="card-header text-center">
                    <strong>{{team}}</strong>
                </div>
                <div class="card-body table-responsive">
                  <div class="card-subtitle text-muted text-center">
                    <small>
                      Table below compares the scores received by {{team}}
                      against their own self-scores
                    </small>
                  </div>
                  {{ scores|format_scores }}
                  {% if missing_our or missing_other %}
                  <div class="card-text form-text text-muted">
                    <ul class="alert alert-warning">
                      {% for (name, day) in missing_our %}
                      <li><small>{{team}} has not submitted scores for the game against {{name}} on {{day}}, but {{name}} has.</small></li>
                      {% endfor %}
                      {% for (name, day) in missing_other %}
                      <li><small>{{name}} has not submitted scores for the game against {{team}} on {{day}}, but {{team}} has.</small></li>
                      {% endfor %}
                    </ul>
                  </div>
                  {% endif %}
                  <small class="form-text text-muted">
                    NOTE: Missing score submissions are identified if only one
                      of the teams hasn't submitted them.  The app is not aware
                      of the tournament schedule to catch missing scores when
                      both teams have not submitted them.
                  </small>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="tab-pane fade" id="nav-scores-awarded" role="tabpanel" aria-labelledby="nav-scores-awarded-tab">
        {% for team, (scores, missing_our, missing_other) in awarded_scores %}
            <div class="card border mb-5">
                <div class="card-header text-center">
                  <strong>{{team}}</strong>
                </div>
                <div class="card-body table-responsive">
                  <div class="card-subtitle text-muted text-center">
                    <small>
                    Table below compares the scores awarded by {{team}} to
                    their opponents against the opponent's self-scores
                    </small>
                  </div>
                  {{ scores|format_scores }}
                  {% if missing_our or missing_other %}
                  <div class="card-text form-text text-muted">
                    <ul class="alert alert-warning">
                      {% for (name, day) in missing_our %}
                      <li><small>{{team}} has not submitted scores for the game against {{name}} on {{day}}, but {{name}} has.</small></li>
                      {% endfor %}
                      {% for (name, day) in missing_other %}
                      <li><small>{{name}} has not submitted scores for the game against {{team}} on {{day}}, but {{team}} has.</small></li>
                      {% endfor %}
                    </ul>
                  </div>
                  {% endif %}
                  <small class="form-text text-muted">
                    NOTE: Missing score submissions are identified if only one
                      of the teams hasn't submitted them.  The app is not aware
                      of the tournament schedule to catch missing scores when
                      both teams have not submitted them.
                  </small>
                </div>
            </div>
        {% endfor %}
    </div>

</div>

{% if show_rankings %}
The SOTG scores have been computed using <a href="{{url}}" target="_blank">this data</a>
{% endif %}
